[submodule "submodules/lwip"]
	path = submodules/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "submodules/newlib"]
	path = submodules/newlib
	url = https://sourceware.org/git/newlib-cygwin.git
