[submodule "submodules/lwip"]
	path = submodules/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "submodules/newlib"]
	path = submodules/newlib
	url = https://sourceware.org/git/newlib-cygwin.git
